body {
	font-family: Arial, sans-serif;
	background-color: #fff0d1;
	background: linear-gradient(to bottom, #fff0d1, #FFFFFF)
    text-align: center;
      
}


header {
	color: #ffff;
	padding: 40px;
	text-align: center;
}

main {
	padding: 20px;
}

.email-button {
    background-color: #4B0082;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .email-button:hover {
    background-color: #E6E6FA;
  }
  



