body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
    text-align: center;
      
}


header {
	background-color: #BF00FF;
	color: #ffff;
	padding: 50px;
	text-align: center;
    background: linear-gradient(to bottom, #BF00FF, #f2f2f2);
}

main {
	padding: 20px;
}

.email-button {
    background-color: #4B0082;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .email-button:hover {
    background-color: #E6E6FA;
  }
  
footer {
  position: relative;
  width: 100%;
  bottom: 0;
  background-color: #BF00FF;
  color: #ffff;
  text-align: center;
  background: linear-gradient(to top, #BF00FF, #f2f2f2);
}

.Video-Container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-row-gap: 10px;
    grid-column-gap: 5px;

    padding: 10px;
}

.item {
    width: 400px;
    height: 475px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}



